h1 {
	margin-top:  20px;
	margin-bottom: 10px;
	font-size: 40px;
	line-height: 44px;
	font-weight: medium;
}

li {
	margin-top: 20px;
	font-size: 12px;
	font-weight: 600;
	text-align: right;
	text-transform: uppercase;
	list-style-type: none;
}

p {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #000;

}

.container {
	position: relative;
	right: -5%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 90%;
	max-width: 1000px;
	min-height: 200px;
	margin: 150px auto;
	-webkit-box-orient:  horizontal;
	-webkit-box-direction:  normal;
	-webkit-flex-direction:  row;
	-ms-flex-direction:  row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content:  flex-start;
	-ms-flex-pack:  start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items:  center;
	-ms-flex-align:  center;
	align-items: center;
}

.body {
	font-family: Poppins, sans-serif;
}

.hero-left {
	position: relative;
	right: 100px;
	z-index: 1;
	display: block;
	max-width: 550px;
	margin-top: auto;
	margin-bottom: auto;
	-webkit-box-orient:  horizontal;
	-webkit-box-direction:  normal;
	-webkit-flex-direction:  row;
	-ms-flex-direction:  row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content:  center;
	-ms-flex-pack:  center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items:  center;
	-ms-flex-align:  center;
	align-items: center;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

.hero-heading {
	font-weight: 600;
}

.hero-text {
	font-weight: 200;
}
.horizontal-bar {
	width: 80px;
	height: 2px;
	margin-top: 50px;
	margin-bottom: 20px;
	background-color: #000;
}

.hero-content {
	margin-bottom: 50px;
}
.section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.section.hero-section {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 800px;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap:  wrap;
	flex-wrap: wrap;
}


.hero-right {
	position: absolute;
	right: 0px;
	width: 800px;
	height: 500px;
	
}

.hero-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url("findac.jpg");
	background-position:  0px 0px;
	background-size: 100%;
	opacity: 0.6;
	
}

.list {
	position: absolute;
	top: 80px;
	right: 100px;

}

.button {
	border-radius: 20px;
	background-color: rgba(74, 100, 230, 1);
	text-decoration: none;
	color:  white;
	margin: 0px 0px 1em;
	padding: 10px 28px;
	box-sizing: border-box;
}

@media screen and (max-width: 767px) {
	.section.hero-section {
		overflow: hidden;
		height: 500px;
		margin-top: -15px;
		padding-top: 0px;
		padding-bottom: 0px;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap:  wrap;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 479px) {
	li {
		text-align: right;
	}

	.container {
		margin-top: 0px;
	}

	.hero-heading {
		margin-top: 185px;
		font-size: 23px;
		line-height: 30px;

	}

	.horizontal-bar {
		display: none;
	}

	.section.hero-section {
		height: 500px;
		padding-top: 0px;
	}

	.hero-right {
		width: 800px;
		height: 400px;
	}

	.list {
		top: 40px;
		right: 20px;
	}
}











